#head{
    background-image: url(jus/elements-summer-fruits-patterns-2P6QQ5-2018-04-17/SummerFruitsPatterns-01.jpg);
    height: 430px;
    text-align: center;
}
body{
    margin: 0;
    margin-top: -20px;
    text-align: center;
}
#titre{
    padding: 150px;
}
#bloc{
    display: flex;
    justify-content: center;
}
#bouton{
    display: flex;
    justify-content: end;
    margin-top: 15px;
}
#tableau{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
#ingredient{
    display: flex;
}
h3{
    margin: 0 20px;
}
#tableau_recette{
    border: 1px grey solid;
}
#formulaire{
    margin: 10px 20%;
}

#formulaire>div{
    display: flex;
    justify-content: space-between;
    margin: 55px 0;
}
#ligne{
    margin: 55px 0;
    width: 450px;
}
#filou{
    border: grey 1px solid;
    width: 430px;
    padding: 10px;
}
#supertableau{
    border: 1px solid black;
    width: 250px;
    
}
#supertableau>div{
    border: 1px solid black;
    width: 100%;
}
