body{
    margin:0px; 
    color: rgb(8, 97, 92);  
}
.nav{
    background-image: url(logo/fond.jpg);
    background-repeat: repeat-x;
    background-size: 100%;
    height: 500px;
    text-align: center;
}
.nav>div{
    padding-top: 80px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
    text-align: center;
}
#titre{
    margin:0px 0px -30px 0px;
    font-size: 150px;
    
    font-family: 'Pacifico', cursive;
    text-shadow: 0.1em 0.1em #333;
    color: white;
}
#bloc{
    margin: 20px 20px;
    transition: all 1s;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background: #a3d5cc;
    text-align: center;
    padding: 15px;
    width: 350px;
}
#bloc>img{
    padding: 25px;
}
#bloc>div{
    background: #89b4ac;
    padding: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
#bloc:hover>div{
   padding: 30px;
}
#bloc:hover{
    padding: 30px;
    
    box-shadow :0 0 15px rgba(25, 88, 0, 0.404);
    font-size: 20px;
}
form{
    display: flex;
    justify-content: center;
}
.bt{
    background: yellow;
    border: 0px;
    cursor: pointer;
    padding: 15px;  
}
.input{
    border: 0px;
    padding: 15px;
    width: 40%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 10px 10%;
}
.bloc{
    background: yellow;
    width: 350px;
    height: 350px;
    margin: 10px 20px;
}
.containercreation{
    
    display: flex;
}
.blocreation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 25px 155px;
}